.cycleNum {
  transition: transform;
  animation-name: cycle;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes cycle {
  0% {
    transform: translateY(24px);
  }
  100% {
    transform: translateY(-240px);
  }
}
